<!DOCTYPE HTML>
<html>
<head>  
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(
            {{ g_data | safe}}
          );

        var options = {
          title: 'Company Performance',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);

        var b_data = google.visualization.arrayToDataTable(
            {{ b_data | safe}}
          );

        var b_options = {
          title: 'Battery ',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var b_chart = new google.visualization.LineChart(document.getElementById('b_curve_chart'));
        b_chart.draw(b_data, b_options);
      }
  </script>
  </head>
  <body>
    <div id="curve_chart"></div> 
    <div id="b_curve_chart"></div> 
  </body>
  </html>