<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>A simple, clean, and responsive HTML invoice template</title>


</head>

<body>
    <div class="invoice-box" style="max-width: 800px; box-shadow: 0 0 10px rgba(0, 0, 0, .15); font-size: 16px; line-height: 24px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #555; margin: auto; padding: 30px; border: 1px solid #eee;">
        <table cellpadding="0" cellspacing="0" style="width: 100%; line-height: inherit; text-align: left;">
            <tr class="top">
                <td colspan="2" style="vertical-align: top; padding: 5px;" valign="top">
                    <table style="width: 100%; line-height: inherit; text-align: left;">
                        <tr>
                            <td class="title" style="vertical-align: top; font-size: 45px; line-height: 45px; color: #333; text-align: left; padding: 0px 0px 20px;" align="center" valign="top">
                                <img src="http://zuperfast.com/images/logo.png" style="width: 100%; max-width: 300px;" />
                            </td>

                            <td style="vertical-align: top; text-align: right; padding: 34px 5px 20px;" align="right" valign="top">
                                Order #: $$order_id$$<br>
                                Date: $$order_date$$
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
                <td colspan="2" style="vertical-align: top; padding: 5px;" valign="top">
                    <table style="width: 100%; line-height: inherit; text-align: left;">
                        <tr>
                            <td style="vertical-align: top; text-align: center; padding: 5px 5px;" align="center" valign="top">
                            </td>

                            <td style="vertical-align: top; text-align: right; padding: 5px 5px 40px;" align="center" valign="top">
                                $$user_name$$<br>
                                $$user_phone$$<br>
				                $$user_email$$<br>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="heading">
                <td style="vertical-align: top; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #ddd; font-weight: bold; background-color: #eee; padding: 5px;" bgcolor="#eee" valign="top">
                    Order Details
                </td>
		<td style="vertical-align: top; text-align: right; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #ddd; font-weight: bold; background-color: #eee; padding: 5px;" align="right" bgcolor="#eee" valign="top"></td>
            </tr>

            <tr class="details">
                <td style="vertical-align: top; padding: 5px 5px 20px;" valign="top">
                    $$order_message$$
                </td>
            </tr>

            <tr class="heading">
                <td style="vertical-align: top; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #ddd; font-weight: bold; background-color: #eee; padding: 5px;" bgcolor="#eee" valign="top">
                    Item
                </td>

                <td style="vertical-align: top; text-align: right; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #ddd; font-weight: bold; background-color: #eee; padding: 5px;" align="right" bgcolor="#eee" valign="top">
                    Price
                </td>
            </tr>

            <tr class="item">
                <td style="vertical-align: top; border-bottom-width: 1px; border-bottom-color: #eee; border-bottom-style: solid; padding: 5px;" valign="top">
                    Purchased Item
                </td>

                <td style="vertical-align: top; text-align: right; border-bottom-width: 1px; border-bottom-color: #eee; border-bottom-style: solid; padding: 5px;" align="right" valign="top">
                    $$purchase_cost$$
                </td>
            </tr>

            <tr class="item">
                <td style="vertical-align: top; border-bottom-width: 1px; border-bottom-color: #eee; border-bottom-style: solid; padding: 5px;" valign="top">
                    Delivery
                </td>

                <td style="vertical-align: top; text-align: right; border-bottom-width: 1px; border-bottom-color: #eee; border-bottom-style: solid; padding: 5px;" align="right" valign="top">
                    $$delivery_cost$$
                </td>
            </tr>

            <tr class="total">
                <td style="vertical-align: top; padding: 5px;" valign="top"></td>

                <td style="vertical-align: top; text-align: right; border-top-style: solid; border-top-width: 2px; border-top-color: #eee; font-weight: bold; padding: 5px;" align="right" valign="top">
                   Total: $$total_cost$$
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
