{% extends "base.html" %}
{% block html_attr_block %}ng-app="OrdersApp"{% endblock %}

{% block title_block %}
	<title>Orders Portal - ZuperFast</title>
{%endblock%}

{% block meta_block %}
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{%endblock%}

{% block css_block %}
	<!-- build:css /static/build/orders.css -->
	<link rel="stylesheet" type="text/css" href="/static/css/orders/main.css">
	<!-- endbuild -->
{%endblock%}

{% block body_attr_block %}ng-controller="ordersController"{% endblock %}


{% block content_block %}
	<md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <span>ZuperFast</span>
        </h2>
        <span flex></span>
        <md-menu md-position-mode="target-right target">
          <md-button class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
            <md-icon md-menu-origin md-svg-src="/static/img/more.svg"></md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
              <md-button ng-click="logout()">
                Logout
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-toolbar>

    <md-tabs md-dynamic-height md-border-bottom class="header-tabs">
      <md-tab label="ALL" ng-click="listAll('All', 'showprogress')"></md-tab>
      <md-tab label="PENDING" ng-click="listAll('Pending', 'showprogress')"></md-tab>
      <md-tab label="OPEN" ng-click="listAll('Open', 'showprogress')"></md-tab>
      <md-tab label="CLOSED" ng-click="listAll('Closed', 'showprogress')"></md-tab>
    </md-tabs>

    <div class="site-progress-holder">
      <md-progress-linear class="site-progress md-accent" ng-show="showprogress" md-mode="indeterminate"></md-progress-linear>
    </div>

    <div class="new-orders-holder">
	    <md-button class="new-orders md-primary" ng-click="getNewOrders()" ng-cloak ng-show="showneworders" >Get New Orders</md-button>
    </div>

  <section class="orders-list-container">
  	<ul class="orders-list" ng-cloak layout="row" layout-wrap layout-align="space-between" layout-padding>
  		<li ng-cloak ng-repeat="order in orders" flex="33">
  			<md-whiteframe class="md-whiteframe-1dp order-container" layout="column" ng-click="showDetail(order	)">
          
  			    <!-- <section class="order" layout="row" layout-align="space-between start"> -->
            <section class="order-status" ng-style="{'background-color': setStatusColor(order.status)}" layout="row"> 
              <h4 flex>[[ setStatus(order.status) ]]</h4>
              <div layout="column" class="order-update" layout-align="space-around center">
                <div flex>[[order.updated_by.name]]</div>
                <div flex>[[order.timesince_updated]]</div>
              </div>
            </section>

            <section class="order-mini" layout="row" layout-align="space-between start">
  			    	<section class="order-head" flex="100">
  			    		<h4>[[order.id]]: [[order.description]]</h4>
  			    		<h5 ng-show="true">[[setOrderType(order.order_type)]]<span ng-cloak ng-show="order.estimate">, Estimate: [[order.estimate]]</span></h5>
                <div class="order-customer" layout="row">
                  <span>By: [[order.customer.name]], [[order.customer.phone]]</span>
                  <span flex></span>
                  <span>[[order.timesince_created]] ago</span>
                </div>
  			    	</section>
  			    	
            </section>

            <iframe 
              class="order-map"
              ng-cloak
              ng-show="true"
              ng-src="[[getLocationUrl(order) | trusted]]"></iframe>

            <section class="order-agent" ng-show="true">
              <md-button class="order-agent-assign md-accent md-raised" ng-cloak ng-hide="order.agent || order.showagentloader" ng-click="selectUser($event, $index)">Assign Agent</md-button>
              <md-progress-linear class="md-accent order-agent-assign-progress" ng-show="order.showagentloader" md-mode="indeterminate"></md-progress-linear>
              <section class="order-agent-present" ng-cloak ng-show="order.agent">
                <h4>[[order.agent.name]]</h4>
                <h5>[[order.agent.phone]]</h5>
                <div layout="row" layout-align="space-between">
                  <span flex ng-cloak ng-show="[[order.cost_delivery]]">Cost Delivery: [[order.cost_delivery]]</span>
                  <span flex ng-cloak ng-show="[[order.cost_purchase]]">Cost Purchase: [[order.cost_purchase]]</span>
                </div>
              </section>
            </section>
  			    <!-- </section> -->
  			</md-whiteframe>
  		</li>

      <div class="load-more-container">
        <md-progress-linear class="md-accent load-more-progress" ng-show="showprogressloadmore" md-mode="indeterminate"></md-progress-linear>
    		<md-button class="load-more md-raised md-primary" ng-cloak ng-show="showloadmore" ng-click="loadMore()">Load More</md-button>
      </div>
  	</ul>
  </section>


{% endblock %}

{% block script_block %}
	<!-- build:js /static/build/orders.js -->
	<script type="text/javascript" src="/static/js/orders/orders.module.js"></script>
	<script type="text/javascript" src="/static/js/orders/orders.controller.js"></script>
	<!-- endbuild -->
{% endblock %}